*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0d325a;
  padding: 10px;
}

.container{
  width: 70vw;
  margin: auto;
}

.navbar{
  height: 40px;
  line-height: 40px;
  width: 100%;
}

/* Inserisco ugualmente il clearfix per eventuali modifiche
future anche se attualmente non serve */
.navbar:after{
  content: "";
  display: table;
  clear: both;
}

.navbar-left:after{
  content: "";
  display: table;
  clear: both;
}

.navbar-left{
float: left;
height: 100%; /* Forzata altezza al figlio(Post-correzione) serve dopo il float */
}

#menu,li{
  float: right;
  display: inline-block;
}

li {
  margin: 0 5px;
}

#menu {
   margin-left: 50px;
 }

 #menu:after{
   content: "";
   display: table;
   clear: both;
 }

li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
}

li > a:hover {
  color: orange;
}

.navbar-right{
  float: right;
  height: 100%;   /* Forzata altezza al figlio(Post-correzione) serve dopo il float*/
}

.navbar-right > span {
  color: grey;
  font-size: 11px;
  font-weight: bold;
}

#log-button{
  border-radius: 5px;
  border-color: #4e8cb6;
  border-width: 1px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 8px 25px;
  margin: 0 9px;
  font-weight: 700;
  font-size: 11px;
}

#buy-button{
  border-radius: 5px;
  color: white;
  background-color: #7fb802;
  font-size: 11px;
  font-weight: 700;
  padding: 8px 10px;
  cursor: pointer;
}

section.white{
  background-color: #ffffff;
}

.left, .center, .right{
  float: left;
  width: 33.3333%;
}

.half{
  float: left;
  width: 50%;
}

#why-fluentify {
  text-align: center;
}

#why-fluentify img{
  height: 100px;
}

#best-2 img{
  width: 300px;
}

#best-2{
  text-align: left;
}

#why-fluentify h3{
  color: #7fb802;
}

.mt-20{
  margin-top: 20px;
}

.row:after{
  display: table;
  content: "";
  clear: both;
}

.s-title {
  height: 50px;
}

.s-par {
  height: 100px;
  margin-bottom: 50px;
}

.row {
  height: 450px;
}

.cont-desc{
  height: 100%;
  position: relative;
}

.description{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.top-title, .top-description > * {
  text-align: center;
}
